/* =========================================
   Universal Icon Styles
   ========================================= */

/* 1. 基础 FontAwesome 图标 */
i.icon {
  display: inline-block;
  font-style: normal;
  text-align: center;
  min-width: 1.2em;
  /* 保证宽度一致，防止文字对不齐 */
  line-height: 1;
  color: inherit;
  /* 跟随文字颜色 */
}

/* 2. SVG 图标容器 */
.icon-svg {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 1.2em;
  height: 1.2em;
  line-height: 1;
  vertical-align: middle;

  /* 让 SVG 填充颜色跟随文本 */
  svg {
    width: 100%;
    height: 100%;
    fill: currentColor;

    path {
      fill: currentColor;
    }
  }
}

/* 3. 图片图标 (png/jpg) */
.icon-img-wrapper {
  display: inline-flex;
  align-items: center;
  width: 1.2em;
  height: 1.2em;
  vertical-align: middle;
}

.icon-img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

/* 4. 特殊场景微调 */

/* 在标题中略微放大 */
h1 .icon,
h2 .icon,
h3 .icon {
  margin-right: 0.3em;
  opacity: 0.9;
}

/* 在按钮中 */
.button .icon {
  margin-right: 6px;
}

/* 修复 Join Us 页面特定图标的间距 */
.section h1 .icon {
  margin-right: 10px;
  color: var(--primary);
  /* 让标题图标有颜色 */
}