{{/* Recive Param: dict "type" "email" "text" "..." "link" "..." "style" "..." */}}

{{ $type := .type }}
{{ $dataDefaults := dict }}
{{ if $type }}
{{ $dataDefaults = index site.Data.types $type | default dict }}
{{ end }}

{{ $link := .link | default $dataDefaults.link }}
{{ $icon := .icon | default $dataDefaults.icon }}
{{ $text := .text | default $dataDefaults.text }}
{{ $tooltip := .tooltip | default $dataDefaults.tooltip }}

{{ $style := .style | default $dataDefaults.style | default "" }}

{{ if or $link $icon $text }}
<div class="button-wrapper">
    <a class="button" {{ if $link }}href="{{ $link | safeURL }}" {{ end
        }} {{ if $tooltip }}data-tooltip="{{ $tooltip }}" {{ end }} data-style="{{ $style }}" {{ if .flip }}data-flip{{
        end }} aria-label="{{ $tooltip | default $text | default " button" }}" target="_blank">
        {{ if $icon }}
        {{ partial "icon.html" (dict "icon" $icon) }}
        {{ end }}

        {{ if $text }}
        <span>{{ $text }}</span>
        {{ end }}
    </a>
</div>
{{ end }}