{{/* 1. Preprocessing: Get all student names (excluding professors and faculty) */}}
{{ $studentNames := slice }}
{{ $membersPage := site.GetPage "members" }}

{{ if $membersPage }}
{{ range $membersPage.Pages }}

{{ $group := .Params.group | default "" | lower }}

{{ if and (ne $group "supervisor") (ne $group "faculty") }}

{{/* Case A: Single member page */}}
{{ if .Params.name }}
{{ $studentNames = $studentNames | append .Params.name }}
{{ else }}
{{ $studentNames = $studentNames | append .Title }}
{{ end }}

{{/* Case B: List-type page (e.g., Alumni_Undergrads.md) */}}
{{ if .Params.members }}
{{ range .Params.members }}
{{ if .name }}
{{ $studentNames = $studentNames | append .name }}
{{ end }}
{{ end }}
{{ end }}

{{ end }} {{/* End Group Filter */}}

{{ end }}
{{ end }}


{{ $typeConfig := index site.Data.types .type | default dict }}
{{ $icon := $typeConfig.icon | default "fa-solid fa-file-lines" }}

<div class="citation-container" data-type="{{ .type }}" data-title="{{ .title }}" data-authors="{{ delimit .authors ", " }}" data-year="{{ .date | dateFormat " 2006" }}">
    <div class="citation">
        <div class="citation-text">

            {{/* Icon */}}
            {{ partial "icon.html" (dict "icon" $icon) }}
            <div class="publicationType" style="display:none;">{{ .type }}</div>

            {{/* Title */}}
            <div class="citation_title">
                [<span class="shortPublisher">{{ .shortPublisher | default .publisher | default "" }}</span>]
                <a {{ if .link }}href="{{ .link | relURL }}" {{ end }} class="citation-title" target="_blank">
                    {{ .title | default "[no title info]" }}
                </a>
                {{ if and .tags (in .tags "Best Paper Award") }}
                <span style="color:red; font-weight:bold;"> (Best Paper Award)</span>
                {{ end }}
            </div>

            {{/* Author */}}
            <div class="citation-authors" {{ if gt (len .authors) 10 }}data-tooltip="{{ delimit .authors " , " }}" {{
                end }}>
                {{ $authorLen := len .authors }}
                {{ $coAuthor := .Params.co_author | default (index . "co-author") }}

                {{ range $index, $author := .authors }}
                {{ if eq $author "Wei Wang" }}
                <a href="{{ " weiwang.html" | relURL }}">
                    {{ if $coAuthor }}<b>Wei Wang*</b>{{ else }}<b>Wei Wang</b>{{ end }}
                </a>

                {{ else if in $studentNames $author }}
                <u>{{ $author }}</u>

                {{/* 3. Others (including other faculty and external collaborators) */}}
                {{ else }}
                {{ $author }}
                {{ end }}

                {{/* Comma separation */}}
                {{ if lt (add $index 1) $authorLen }}, {{ end }}
                {{ end }}
            </div>

            {{/* Publication details */}}
            <div class="citation-details">
                <span class="citation-publisher">{{ .publisher | default "[no publisher info]" }}</span>
                &nbsp;·&nbsp;
                <span class="citation-date">{{ if .date }}{{ .date | dateFormat "02 Jan 2006" }}{{ else }}[no date
                    info]{{ end }}</span>
                &nbsp;·&nbsp;
            </div>

            {{/* Buttons */}}
            <div class="citation-buttons">
                {{ if .buttons }}
                {{ range .buttons }}
                {{ partial "button.html" (dict "link" .link "text" .text "icon" .icon "style" .type "type" .type) }}
                {{ end }}
                {{ end }}
                {{ if .pdf }}<a href="{{ .pdf | relURL }}" class="btn-tiny" target="_blank">PDF</a>{{ end }}
                {{ if .code }}<a href="{{ .code }}" class="btn-tiny" target="_blank">Code</a>{{ end }}
                {{ if .video }}<a href="{{ .video }}" class="btn-tiny" target="_blank">Video</a>{{ end }}
                {{ if .slides }}<a href="{{ .slides | relURL }}" class="btn-tiny" target="_blank">Slides</a>{{ end }}
            </div>

        </div>
    </div>
</div>