name: on-push
run-name: on push to main

on:
  push:
    branches:
      - main

  # run if user manually requests it
  workflow_dispatch:

permissions:
  contents: write
  pages: write
  id-token: write
  pull-requests: write

jobs:
  update-citations:
    # skip first run because nothing enabled or setup yet
    if: github.run_number != 1
    uses: ./.github/workflows/update-citations.yaml
    with:
      open-pr: false 
    secrets: inherit 

  build-site:
    needs: update-citations
    if: always() && (needs.update-citations.result == 'success' || needs.update-citations.result == 'skipped')
    uses: ./.github/workflows/deploy.yml
    with:
      deploy: true
    secrets: inherit